<h4>Vous avez reçu un nouveau message</h4>

<div>From <%= @user.email %></div>
<div>Nom: <%= @user.surname %></div>
<div><%= @user.subject %></div>
<div><%= @user.content %></div>

<p>Les massages de Pauline</p>