<p>Vous avez reçu un nouveau message:</p>

<p><strong>Email : </strong>jorge@gmail.com</p>
<p><strong>Nom : </strong>Manrique</p>
<p><strong>Objet : </strong>Lorem ipsum</p>
<p><strong>Message : </strong></p>
<p>Lorem ipsum</p>
