<p>Bonjour <%= @name %>,</p>
<p>Merci pour votre commande.</p>
<br>
<p>Vous trouverez ci-joint votre bon d'achat <strong>valable 6 mois.</strong></p>
<p>Commande : <strong><%= @checkout_id %></strong></p>
<br>
<p>À très vite,</p>
<p><strong>Les Massages de Pauline</strong></p>
