<div class="flex items-start justify-center p-8 font-comfortaa text-[15px] text-titleGray">
  <div class="flex justify-center items-center flex-col w-fit space-y-8 p-8 text-center ">
  <img src="<%= asset_path 'logo.svg' %>" alt="logo" class="mx-auto h-56 w-56">
    <div class="">Merci pour votre commande, <strong class="text-black"><%= @name %> !</strong></div>
    <div class="">On vient de vous envoyer un e-mail de confirmation avec votre bon d'achat à l'adresse : </div>
    <div><strong class="text-black"><%= @email %></strong></div>
    <div>Nº de commande : <strong><%= @checkout_id %></strong></div>
    <div>PS : si vous ne recevez pas l'e-mail de confirmation, merci de vérifier vos spams.</div>
  </div>
</div>
