<div class="font-comfortaa">
  <h2 class="font-bold mb-2.5 pb-2 border-gray-300 border-b-[1px] text-[1.2em]">Les Massages de Pauline</h2>
  <p class="text-[1.1em]">9 Rue du Tabuteau, 49370 Saint-Clément-de-la-Place</p>
</div>

<style>
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  width: 17rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapboxgl-popup-close-button {
  right: 8px;
  font-size: 14px;
  &:focus-visible {
    outline: none;
  }
}
</style>