<div class="flex w-full h-full">
  <div class="w-[50%]">hello</div>
  <div class="w-[50%] h-[100%]"
    data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
